extends layout
block content
    - var title = 'Adventures Page'
    each val in adventures
        .container
            .well
                .media
                    a.pull-left(href='#')
                        img.media-object(src='https://aboutourism.files.wordpress.com/2010/01/adventure-travel-6.jpg')
                    .media-body

                        a.media-heading(href='/adventure/#{val.adv_id}') #{val.title}
                        p.text-left Adventure from #{val.location}
                        a.pull-right(href='/profile/#{val.user_id}') By #{val.login_name}

                        p #{val.content}

                        ul.list-inline.list-unstyled
                            li
                                span
                                    i.glyphicon.glyphicon-calendar
                                    |  #{val.visit_date}
                            li |
                            span
                                i.glyphicon.glyphicon-comment
                                |  2 comments
                            li |
                            li
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                            li |
