extends layout
block content

   - var titlePage='Adventure page';

       .container2
         .container
            .adventure-content.col-lg-10
                h1.adventure-heading
                    |#{title}
                // Author
                p
                    a(href ='/profile/#{user_id}') #{user_id}
                hr
                // Date/Time
                img.img-responsive(src='http://placehold.it/900x300', alt='')
                p
                    span.glyphicon.glyphicon-time
                    |  Posted on #{post_date}
                // Preview Image
                hr
                // Post Content
                p.lead
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
                p.adventure-description
                    | #{content}
                hr
                // Blog Comments
                // Comments Form
                .well
                    h4 Leave a Comment:
                    form(role='form')
                        .form-group
                            textarea.form-control(rows='3')
                        button.btn.btn-primary(type='submit') Submit
                hr
                // Posted Comments
                // Comment
                .media
                    a.pull-left(href='#')
                        img.media-object(src='http://placehold.it/64x64', alt='')
                    .media-body
                        h4.media-heading
                            | Start Bootstrap
                            small August 25, 2014 at 9:30 PM
                        |                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                // Comment
                .media
                    a.pull-left(href='#')
                        img.media-object(src='http://placehold.it/64x64', alt='')
                    .media-body
                        h4.media-heading
                            | Start Bootstrap
                            small August 25, 2014 at 9:30 PM
                        |                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        // Nested Comment
                        .media
                            a.pull-left(href='#')
                                img.media-object(src='http://placehold.it/64x64', alt='')
                            .media-body
                                h4.media-heading
                                    | Nested Start Bootstrap
                                    small August 25, 2014 at 9:30 PM
                                |                                 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        // End Nested Comment
