extends layout
block content

    - var titlePage='Adventure page';

    .container2
        .container
            .adventure-content.col-lg-10
                h1.adventure-heading
                    |#{title} #{adv_id}
                // Author
                p
                    a(href ='/profile/#{user_id}') #{user_name}
                        include ratings
                p
                    span Overall score:
                    - if(ratings.length > 0)
                        - for (var i = 0; i < Math.round(ratings)/2; i++)
                            span.fa.fa-star.fa-2x
                    - else
                        span 'N/A'


                hr
                // Date/Time
                //img.img-responsive(src='/uploads/#{user_id}/#{picUrl}', alt='')
                for val in picUrl
                    img.img-responsive(src='/uploads/#{user_id}/'+val.url, alt='' style='margin: 20px auto; border-radius: 5px;')
                    //a.fancybox(rel='group', href='/uploads/#{user_id}/'+val.url)
                        img(src='/uploads/#{user_id}/'+val.url, alt='')
                script(type='text/javascript').
                    $(document).ready(function() {
                    $("a.fancybox").fancybox();
                    });
                p
                    span.glyphicon.glyphicon-time
                    |  Posted on #{post_date}
                p.fa-lg.pull-left #{tags}
                // Preview Image
                hr
                // Post Content
                //p.lead(style='font-size:16px;') #{content}
                p(style='font-size:15px;') #{content}
                    //#{leadDisplay}
                    //span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
                p.adventure-map0.google-maps
                    iframe(width='900', height='370', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src="https://maps.google.com/maps?q=#{location}&hl=en;z=10&output=embed")
                    br
                    small
                    a(href="https://maps.google.com/maps?q=#{location}&hl=es;z=10&output=embed", style='color:#0000FF;text-align:left', target='_blank') See map bigger

                hr
                // Blog Comments
                // Comments Form
                if(locals.isLoggedIn)
                    .well
                        h4 Leave a Comment:
                        form(role='form' method="post")
                            .form-group
                                textarea.form-control(name="commText",rows='3')
                            button.btn.btn-primary(name="commentSubmit") Submit
                hr
                // Posted Comments
                // Comment
                for val,index in comments
                    include comment
                    //adding comments from the db working

