extends layout
block content

    - var titlePage='Adventure page';

    .container2
        .container
            .adventure-content.col-lg-10
                h1.adventure-heading
                    |#{title} #{adv_id}
                // Author
                p
                    a(href ='/profile/#{user_id}') #{user_name}
                        include ratings
                p
                    span Overall score:
                    - for (var i = 0; i < Math.round(ratings); i++) {
                        span.fa.fa-star.fa-2x
                    - }


                hr
                // Date/Time
                img.img-responsive(src='http://placehold.it/900x300', alt='')
                p
                    span.glyphicon.glyphicon-time
                    |  Posted on #{post_date}
                p.fa-lg.pull-left #{tags}
                // Preview Image
                hr
                // Post Content
                p.lead(style='font-size:20px;')
                    //#{leadDisplay}
                    each val in leadDisplay
                        span= val
                    //span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
                p.adventure-description
                    | #{content}
                p.adventure-map0
                    iframe(width='900', height='370', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src="https://maps.google.com/maps?q=#{location}&hl=en;z=10&output=embed")
                    br
                    small
                    a(href="https://maps.google.com/maps?q=#{location}&hl=es;z=10&output=embed", style='color:#0000FF;text-align:left', target='_blank') See map bigger

                hr
                // Blog Comments
                // Comments Form
                .well
                    h4 Leave a Comment:
                    form(role='form' method="post")
                        .form-group
                            textarea.form-control(name="commText",rows='3')
                        button.btn.btn-primary(name="commentSubmit") Submit
                hr
                // Posted Comments
                // Comment
                for val,index in comments
                    include comment
                    //adding comments from the db working

                .media
                    a.pull-left(href='#')
                        img.media-object(src='http://placehold.it/64x64', alt='')
                    .media-body
                        h4.media-heading
                            | Start Bootstrap
                            small August 25, 2014 at 9:30 PM
                        |                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                // Comment

                .media
                    a.pull-left(href='#')
                        img.media-object(src='http://placehold.it/64x64', alt='')
                    .media-body
                        h4.media-heading
                            | Start Bootstrap
                            small August 25, 2014 at 9:30 PM
                        |                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        // Nested Comment
                        .media
                            a.pull-left(href='#')
                                img.media-object(src='http://placehold.it/64x64', alt='')
                            .media-body
                                h4.media-heading
                                    | Nested Start Bootstrap
                                    small August 25, 2014 at 9:30 PM
                                |                                 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        // End Nested Comment
