extends layout
block content
    - var title = 'Profile Page'

    .container.profile-box
        .row
            .col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
                .well.profile
                    .col-sm-12
                        .col-xs-12.col-sm-8
                            h2 #{login_name}
                            p
                                strong Full Name:
                                |  #{name}
                            p
                                strong Contact:
                                |  #{email}
                            p
                                strong User type:
                                |  #{type}
                            p
                            strong country address:
                                |  #{country}
                            p
                                strong About:
                                |  #{description}
                            p
                        .col-xs-12.col-sm-4.text-center
                            figure
                                img.img-circle.img-responsive(src='https://www.geekinlibrariansclothing.com/wp-content/uploads/2015/10/empirebw2.png', alt='')
                                figcaption.ratings
                                    p
                                        | Ratings
                                        a(href='#')
                                            span.fa.fa-star
                                        a(href='#')
                                            span.fa.fa-star
                                        a(href='#')
                                            span.fa.fa-star
                                        a(href='#')
                                            span.fa.fa-star
                                        a(href='#')
                                            span.fa.fa-star-o
                    .col-xs-12.divider.text-center
                        .col-xs-12.col-sm-4.emphasis
                            h2
                                strong  #{adventures.length}
                            p
                                small Adventures

                        .col-xs-12.col-sm-4.emphasis
                            h2
                                strong 245
                            p
                                small Member of Wander blog in days
                        .col-xs-12.col-sm-4.emphasis
                            h2
                                strong 43
                            p
                                small Places visited

                    p
                        strong Read user's Adventures
                    div#articles
                    -each index in adventures
                        .adventure-link
                            a(href ='/adventure/#{index.id}') #{index.title}
                        //-each id in adventuresId
                        //    div.article
                        //        a(href ='/adventure/#{id}') a

