extends layout
block content
    - var title = 'Profile Page'
    .container
        .row
            .col-md-12
                .panel.panel-default
                    .panel-body
                        .row
                            .col-xs-12.col-sm-8
                                .profile-about
                                    h2 #{login_name} (#{country})
                                    p
                                        strong Full name:
                                        |  #{name}
                                    p
                                        strong About:
                                        |  #{description}
                                    p
                                        strong User type:
                                        |  #{type}
                                    p
                                        strong Contact:
                                        |  #{email}
                                    p
                                        strong Adventures:
                                             if adventures
                                                each index in adventures
                                                    .adventure-link
                                                        a.span.label.label-info.tags(href ='/adventure/#{index.id}') #{index.title}
                                             else
                                                p User has not added any adventures.
                                // /col
                            .col-xs-12.col-sm-4.text-center
                                img.center-block.img-circle.img-responsive(src='https://www.geekinlibrariansclothing.com/wp-content/uploads/2015/10/empirebw2.png', alt='')
                                ul.list-inline.ratings.text-center(title='Ratings')
                                    li
                                        a(href='#')
                                            span.fa.fa-star.fa-lg
                                    li
                                        a(href='#')
                                            span.fa.fa-star.fa-lg
                                    li
                                        a(href='#')
                                            span.fa.fa-star.fa-lg
                                    li
                                        a(href='#')
                                            span.fa.fa-star.fa-lg
                                    li
                                        a(href='#')
                                            span.fa.fa-star.fa-lg
                            // /col
                            .col-xs-12.col-sm-4
                                if locals.adventures
                                    h2
                                        strong  #{adventures.length}
                                    p
                                        small Adventures
                                else
                                    h2
                                        strong  0
                                    p
                                        small Adventures
                            // /col
                            .col-xs-12.col-sm-4
                                h2
                                    strong #{membership}
                                p
                                    small Wanderblog member (days)
                            // /col
                            .col-xs-12.col-sm-4
                                h2
                                    strong  #{commentsAmount}
                                p
                                    small Comments



