extends layout

block content
    h1 Refine search
    form.form-horizontal(role='form', method='post')
        .form-group
            label.col-sm-3.control-label(for='select_filter') Search for:
            .col-sm-9
                 input.form-control(type='text', placeholder='title...', name='searchedFor', value='#{searchedFor}' required=true)
        .form-group
            label.col-sm-3.control-label(for='search_filter_options') Filter by:
            .col-sm-9
                select#search_filter_options.form-control(name ='search_filter_options', onchange='changeSearchFilter()')
                    option(value='date') Date
                    option(value='author') Author
                    option(value='rating') Rating
                    option(value='keywords') Keywords
                    option(value='location') Location
        #search_filter_author.form-group.search_filters
            label.col-sm-3.control-label(for='user_name') Name of author:
            .col-sm-9
                input.form-control(type='text', placeholder='Firstname Lastname', name='user_name', required=true)
        #search_filter_keywords.form-group.search_filters
            label.col-sm-3.control-label(for='keywords') Keywords:
            .col-sm-9
                input.form-control(type='text', placeholder='keyword,keyword,keyword', name='keywords', required=true)
        #search_filter_location.form-group.search_filters
            label.col-sm-3.control-label(for='location') Location:
            .col-sm-9
                input.form-control(type='text', placeholder='city, country', name='location', required=true)
        .form-group
            .col-sm-9.col-sm-offset-3.btn-toolbar
                button.btn.btn-success.btn-group(type='submit') Search!

    h1 Search results!
    p #{noticeresults}
    - if (typeof(searchResult) !== 'undefined')
        ul
            each val in searchResult
                li= val.title + ' posted by user ' + val.user_id + ' on ' + val.post_date
block scripts
    script(type='text/javascript', src='/javascripts/search.js')